RewriteEngine On

# Se o arquivo existe em public/, serve ele diretamente
RewriteCond %{DOCUMENT_ROOT}/lunar-api/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

# Se o diretório existe em public/, serve ele diretamente
RewriteCond %{DOCUMENT_ROOT}/lunar-api/public/$1 -d
RewriteRule ^(.*)$ public/$1 [L]

# Para tudo o mais, vai para o index.php do Laravel
RewriteRule ^(.*)$ public/index.php [L]
